amazed
amazed_bonus
*.o
*.gcda
*.gcno
*.a
laby_gen.pl
lab_15-20.txt
B-CPE-200_Amazed_binaries.zip
*.txt
vgcore*
.vscode
coding-style-reports.log
laby
laby2
laby_gen.pl.pl
a.out
settings.json
moves.txt
robot_nbr.txt
tunnels.txt
rooms.txt
amazed_test
